{% extends 'saved_posts/base.html' %}

{% block js %}
{% load static %}
<script src="{% static 'saved_posts/filter_table.js' %}"defer></script>
{% endblock js %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="{% static 'saved_posts/detail_style.css' %}">
{% endblock CSS %}

{% block content %}
<h1>{{post.post_title}}</h1>
<h2><a href="{{post.post_link}}">Link to post</a></h2>


<div>
    Filter comments below <input type="number" id="upvoteinput" oninput="filterTable()"></input> upvotes
</div>


<table id="commenttable" class="table table-bordered table-striped table-dark">
    <thead>
        <tr>
            <th>Comment</th>
            <th>Number Upvotes</th>
        </tr>
    </thead>
    <tbody>
        {% for tlc in post.toplevelcomment_set.all|dictsortreversed:"number_upvotes" %} 
            <tr class="datarow">
                <td class="comment">
                    {{tlc.contents}}
                </td>

                <td class="numberupvotes">
                    {{tlc.number_upvotes}}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

